html,
body {
  padding: 0;
  margin: 0;
  font-family: "Cormorant", serif;
}

* {
  box-sizing: border-box;
}

.main {
  display: flex;
  flex-direction: row;
  /* border: 8px solid midnightblue; */
}

.others {
  margin-left: 9%;
  /* flex: 0.91; */
}
.menu__icons {
  /* border: 2px solid red; */
  /* flex: 0.09; */
  width: 9%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  height: 100vh;
  background: rgba(255, 255, 255, 0.01);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.6px);
  position: fixed;
}

.hero__section {
  background-image: url("../public/images/wine-and-foods.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: auto; */
}

.hero__container {
  /* border: 1px solid red; */
  max-width: 40%;
  /* margin: auto 0; */
}

.hero__content {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hero__container h1 {
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 1.2;
  text-transform: uppercase;
  color: #cf2e2e;
}

.hero__content p {
  font-size: 1.5rem;
  font-weight: 300;
  margin-top: 1rem;
  padding: 0 4rem;
}

.hero__content span {
  font-size: 1.5rem;
  font-weight: 300;
  margin-top: 200px;
  color: #cf2e2e;
}

.hero__action button {
  padding: 1em;
  background: transparent;
  border: 1px solid #cf2e2e;
  margin-top: 1rem;
  font-size: 1rem;
  color: #cf2e2e;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.5s;
}

.hero__action button span {
  position: relative;
  transition: 0.5s;
}

.hero__action button span::after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.hero__action button:hover {
  background: #cf2e2e;
  color: white;
}

.hero__action button:hover span {
  padding-right: 25px;
}

.hero__action button span:hover::after {
  opacity: 1;
  right: 0;
}

/* About Section */

.about__wine {
  padding: 1rem 0;
  display: flex;
  /* border: 1px solid red; */
  flex-direction: column;
  /* align-items: center; */
  margin-left: 30px;
  margin-top: 70px;
  /* flex-wrap: wrap; */
}

.section__one img {
  width: 473px;
  height: 315.73px;
}

.section__two {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section__two__text p {
  margin-top: -10px;
  margin-bottom: 40px;
  text-align: left;
}

.section__two__text h1 {
  font-size: 6rem;
  font-weight: 300;
  line-height: 1.2;
  text-transform: uppercase;
  color: #cf2e2e;
  z-index: 1;
  text-align: center;
  margin: -330px 32px 32px;
}

.section__two__text a {
  padding: 1em;
  background: transparent;
  border: 1px solid #cf2e2e;
  margin-bottom: 500px;
  margin-left: 300px;
  font-size: 1rem;
  color: #cf2e2e;
  /* text-align: center; */
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
}

.section__two__text a:hover {
  background: #cf2e2e;
  color: white;
  transition: all 0.5s ease-in-out;
}

.section__two__pic img {
  width: 285px;
  height: 533px;
  /* border: 3px solid burlywood */
  margin-top: 35px;
}

.section__three img {
  width: 473px;
  height: 315.73px;
  margin-top: -200px;
}

/* product session */
.products__section {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  /* border: 5px solid yellow; */
}

.products__heading h1 {
  color: #cf2e2e;
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 300;
  text-align: center;
}

.catalog {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
  /* border: 4px solid yellowgreen; */
}

.catalog .active {
  border-bottom: 2px solid #cf2e2e;
  color: red;
}

.catalog button {
  border: none;
  text-decoration: none;
  background-color: inherit;
}

.tablinks {
  cursor: pointer;
  padding: 1rem 2rem;
  font-weight: 300;
  font-size: 1.5rem;
  font-family: inherit;
}

.tab__content__active {
  display: flex !important;
  flex-direction: row;
  /* border: 5px solid blue; */
  text-align: center;
}

.tab__content {
  display: none;
}

.product__card {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  padding: 1rem;
  margin: 0 2rem;
  /* border: 1px solid blue; */
  flex-basis: 40%;
}

.product__card:hover {
  transform: scale(1.05);
}

.product__card__header {
  text-align: right;
  width: 100%;
}

.product__card__info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.product__card__info h3 {
  font-size: 2rem;
  font-weight: 400;
  margin: 1rem 0;
}
.product__card__info span {
  text-align: center;
  margin-bottom: 1rem;
  /* border: 2px solid red; */
}
.product__card__info p {
  font-size: 1.5rem;
  font-weight: 300;
}

.product__card__info button {
  padding: 1rem;
  background: transparent;
  border: 1px solid #cf2e2e;
  margin-top: 1rem;
  color: #cf2e2e;
  cursor: pointer;
}

.product__card__info button:hover {
  background-color: #cf2e2e;
  color: white;
  transition: all 0.5s ease-in-out;
}

/* Contact section */
.contact__section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* border: 2px solid red; */
}

.contact__section h1 {
  font-size: 4rem;
  font-weight: 300;
  color: #cf2e2e;
  text-align: center;
  margin: 2rem;
}

.contact__content {
  display: flex;
  width: 100%;
  justify-content: space-around;
}


form input, textarea{
  font-family: inherit;
  font-weight: 400;
}

.form__group {
  font-family: inherit;
  margin-bottom: 2rem;
}

.form__group input {
  border: none;
  border-bottom: solid 1px #cf2e2e;
  padding: 0.5rem;
  width: 100%;
  font-size: 1.2rem;
  font-weight: 400;
  font-style: inherit;
  margin-right: 1rem;
}

.form-group input:focus {
  outline: none;
  border-bottom: solid #cf2e2e 2px;
}

.form__group textarea {
  border: none;
  border-bottom: solid 1px #cf2e2e;
  width: 120%;
  font-size: 1.2rem;
  font-weight: 400;
}

.form__group textarea:focus {
  outline: none;
  border-bottom: solid #cf2e2e 2px;
}

form button {
  padding: 1em;
  margin-top: 1rem;
  background-color: transparent;
  border: #cf2e2e solid 1px;
  font-size: 1rem;
  color: #cf2e2e;
  transition: 0.5s;
  cursor: pointer;
}

form button:hover {
  background-color: #cf2e2e;
  color: white;
}

.map {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 1.2rem;
}

.map > :not(:last-child) {
  margin-bottom: 1rem;
}

.map a {
  color: #cf2e2e;
}

.map a:hover {
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  .main {
    display: flex;
    flex-direction: row;
    /* border: 8px solid midnightblue; */
  }

  .menu__icons {
    /* border: 2px solid red; */
    width: 100vw;
    display: flex;
    position: fixed;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    height: 64px;
  }

  .img__one {
    order: 2;
  }

  .img__two {
    order: 1;
    margin-left: -15px;
  }

  .cart__div {
    order: 3;
    margin-right: -15px;
  }

  .others {
    margin-top: 68px;
    margin-left: 0;
  }

  .about-wine {
    display: flex;
  }
  .hero__section {
    background-image: url("../public/images/mobile-bg.png");
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hero__container {
    /* border: 1px solid red; */
    max-width: 60%;
  }

  .hero__content {
    max-width: 95%;
    margin-top: 85px;
  }

  .hero__container h1 {
    font-size: 2rem;
  }

  .hero__content p {
    font-size: 1rem;
    padding: 0;
    margin-top: -20px;
  }

  .hero__action button {
    padding: 0.5rem;
    margin-bottom: 50px;
  }

  .section__one img {
    width: 240px;
    height: 160px;
  }

  .section__two__text h1 {
    font-size: 40px;
    font-weight: 400;
    line-height: 1.2;
    text-transform: uppercase;
    color: #cf2e2e;
    z-index: 1;
    margin: -24px 30px 0px;
  }

  .section__two__text a {
    position: static;
    left: 80px;
    padding: 0.5rem;
    text-align: center;
    margin-left: 100px;
    /* background-color: red; */
  }

  .section__two__text p {
    text-align: left;
    margin-left: 55px;
  }

  .section__two__pic {
    display: none;
  }

  .section__three img {
    width: 240px;
    height: 160px;
    margin-top: 30px;
    display: flex;
    margin-left: 90px;
  }

  /* product session */
  .products__section {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
  }

  .products__heading h1 {
    font-size: 2.5rem;
  }

  .catalog {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
  }

  .catalog .active {
    border-bottom: 2px solid #cf2e2e;
    color: red;
  }

  .catalog button {
    border: none;
    text-decoration: none;
    background-color: inherit;
  }

  .tablinks {
    padding: 1rem;
    font-size: 1.5rem;
  }

  .tab__content__active {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .product__card {
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: center;
  }

  .product__card__info h3 {
    font-size: 1.5rem;
  }

  .product__card__info p,
  span {
    font-size: 1rem;
  }

  .product__card__info button {
    padding: 0.8rem;
  }
  .tab__content {
    display: none;
  }


  .contact__content{
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
  }

  .contact__section {
    padding: 1rem;
    gap: 1rem;

}
  
  .contact__section h1 {
    font-size: 2.5rem;
}

  form input, textarea{
    font-family: inherit;
    font-weight: 200;
  }

  form button{
    align-items: center;
    width: 100%;
    font-weight: lighter;
    font-family: inherit;

  }

  .form__group textarea{
    width: 100%;
  }

  .map a, p{
    display: none;
  }

  .map{
    margin-top: 5rem;
    margin-bottom: 10rem;
  }
}
